body{
    display: flex;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
h1{
    margin: 0px;
}
.mainDiv {
    flex: 1;
    min-height: 100vh;  
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 3%;
    background-color: #12CBC4;
}
.menuDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    color: #006266;
    border: 5px solid #0ea09b;
}
.selDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.selBtn {
    background-color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-weight: 100;
    font-size: 18px;
}
#resize {
    border: 3px solid #FFC312;
    color: #FFC312;
}
#resize:hover {
    color: white;
    background-color: #FFC312;
}
#draw {
    border: 3px solid #C4E538;
    color: #C4E538;
}
#draw:hover {
    color: white;
    background-color: #C4E538;
}
#random {
    border: 3px solid #D980FA;
    color: #D980FA;
}
#random:hover {
    color: white;
    background-color: #D980FA;
}
#erase {
    border: 3px solid #EA2027;
    color: #EA2027;
}
#erase:hover {
    color: white;
    background-color: #EA2027;
}
#reset {
    border: 3px solid #EE5A24;
    color: #EE5A24;
}
#reset:hover {
    color: white;
    background-color: #EE5A24;
}
.gridDiv {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    max-width: 600px;
    max-height: 600px;
    gap: 0;
    border: 5px solid #0ea09b;
    border-radius: 10px;
}
.gridOne {
    background-color: white;
    color: white;
    border: 1px rgb(229, 229, 229) solid;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    flex-shrink: 0; 
}